body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form > h2,
.login-form > form,
.login-form > p {
    margin: 0 0 10px;
}

.form-elem {
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.form-elem > label {
    margin-right: 10px;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
}

header,
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    margin-right: 10px;
}

.checklist {
    border-bottom: 1px solid #000;
    padding: 10px;
}

.checklist:last-of-type {
    border-bottom: none;
}

.checklist h2 {
    margin: 0;
}

.checklist a {
    text-decoration: none;
}

.checklist a,
.checklist a:visited {
    color: #000000;
}

.checklist-description {
    margin-top: 10px;
}